.imgSize {
    height: 100%;
    width: 100%;
}

.fontColor {
    color: white;
    text-align: justify;
}

.backgroundCard {
    /*background-color: rgb(19, 18, 18) ;*/
    background-color: white;
}