<div class="container mt-5">

    <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron mt-3 fontColor">
            <h1 class="display-4">Últimas Noticias</h1>
            <p class="lead">Aquí podrás encontrar una amplia selección de las ultimas noticas sobre el mundo</p>
            <hr class="my-4">
            <!--<p>Regístrate y comienza a participar en nuestras subastas hoy mismo.</p>    -->
        </div>
    </div>

    <div class="row">
        <!-- Noticia 1 -->
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="https://ep01.epimg.net/verne/imagenes/2018/09/10/mexico/1536613366_326422_1536615204_noticia_normal.jpg" class="card-img-top" alt="Noticia 1">
                <div class="card-body">
                    <h5 class="card-title">Título de la Noticia 1</h5>
                    <hr>
                    <p class="card-text">Breve descripción de la noticia 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="noticia1.html" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Noticia 2 -->
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="https://ep01.epimg.net/verne/imagenes/2018/09/10/mexico/1536613366_326422_1536615204_noticia_normal.jpg" class="card-img-top" alt="Noticia 2">
                <div class="card-body">
                    <h5 class="card-title">Título de la Noticia 2</h5>
                    <hr>
                    <p class="card-text">Breve descripción de la noticia 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="noticia2.html" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Puedes agregar más noticias siguiendo el mismo patrón -->

    </div>
</div>