<div class="container mt-5">
    <h2 class="text-center mb-4">Tienda de Productos</h2>
    <div class="row">

        <!-- Producto 1 -->
        <div class="col-md-4">
            <div class="card product-card mb-4">
                <img src="https://www.amadecasa.com/pub/media/blog/cache/1100x841/magefan_blog/PORTADA_TORRE.jpg" class="card-img-top" alt="Producto 1">
                <div class="card-body">
                    <h5 class="card-title">Producto 1</h5>
                    <hr>
                    <p class="card-text">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="card-text">Precio: $29.99</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Producto 2 -->
        <div class="col-md-4">
            <div class="card product-card mb-4">
                <img src="https://www.amadecasa.com/pub/media/blog/cache/1100x841/magefan_blog/PORTADA_TORRE.jpg" class="card-img-top" alt="Producto 2">
                <div class="card-body">
                    <h5 class="card-title">Producto 2</h5>
                    <hr>
                    <p class="card-text">Descripción del producto 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="card-text">Precio: $39.99</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Producto 3 -->
        <div class="col-md-4">
            <div class="card product-card mb-4">
                <img src="https://www.amadecasa.com/pub/media/blog/cache/1100x841/magefan_blog/PORTADA_TORRE.jpg" class="card-img-top" alt="Producto 3">
                <div class="card-body">
                    <h5 class="card-title">Producto 3</h5>
                    <hr>
                    <p class="card-text">Descripción del producto 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="card-text">Precio: $49.99</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Puedes agregar más productos siguiendo el mismo patrón -->

    </div>
</div>