<div class="container mt-5">
    <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron mt-3 fontColor">
            <h1 class="display-4">Galeria de Imagenes </h1>
            <p class="lead">Aquí podrás encontrar una amplia selección de las imagenes de nuestros tours</p>
            <hr class="my-4">
            <!--<p>Regístrate y comienza a participar en nuestras subastas hoy mismo.</p>    -->
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="thumbnail">
                        <a href="ruta_de_la_imagen3.jpg" target="_blank">
                            <img src="https://img.freepik.com/fotos-premium/montanas-georgia-rios-montana_73944-8400.jpg" alt="Imagen 3" style="width:100%">
                        </a>
                    </div>
                    <h5 class="card-title" style="text-align: center;">Montaña Redonda</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="thumbnail">
                        <a href="ruta_de_la_imagen3.jpg" target="_blank">
                            <img src="https://img.freepik.com/fotos-premium/montanas-georgia-rios-montana_73944-8400.jpg" alt="Imagen 3" style="width:100%">
                        </a>
                    </div>
                    <h5 class="card-title" style="text-align: center;">Montaña cuadrada</h5>
                </div>

            </div>

        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="thumbnail">
                        <a href="ruta_de_la_imagen3.jpg" target="_blank">
                            <img src="https://img.freepik.com/fotos-premium/montanas-georgia-rios-montana_73944-8400.jpg" alt="Imagen 3" style="width:100%">
                        </a>
                    </div>
                    <h5 class="card-title" style="text-align: center;">Monstaña triangular</h5>
                </div>

            </div>

        </div>

    </div>
</div>