<div class="container mt-5">
    <!-- Jumbotron -->
    <div class="container">
        <div class="jumbotron mt-3 fontColor">
            <h1 class="display-4">Ofertas Especiales</h1>
            <p class="lead">Aquí podrás encontrar nuestras ofertas especiales</p>
            <hr class="my-4">
            <!--<p>Regístrate y comienza a participar en nuestras subastas hoy mismo.</p>    -->
        </div>
    </div>
    <br/>
    <br/>
    <br/>

    <div class="row">

        <!-- Oferta 1 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://www.shutterstock.com/shutterstock/photos/1815003008/display_1500/stock-vector-super-oferta-spanish-translation-for-great-offer-1815003008.jpg" class="card-img-top" alt="Oferta 1">
                <div class="card-body">
                    <h5 class="card-title">Oferta 1</h5>
                    <hr>
                    <p class="card-text">Descripción de la oferta 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="card-text">Precio: $99.99</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Oferta 2 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://www.shutterstock.com/shutterstock/photos/1815003008/display_1500/stock-vector-super-oferta-spanish-translation-for-great-offer-1815003008.jpg" class="card-img-top" alt="Oferta 2">
                <div class="card-body">
                    <h5 class="card-title">Oferta 2</h5>
                    <hr>
                    <p class="card-text">Descripción de la oferta 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="card-text">Precio: $79.99</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Oferta 3 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://www.shutterstock.com/shutterstock/photos/1815003008/display_1500/stock-vector-super-oferta-spanish-translation-for-great-offer-1815003008.jpg" class="card-img-top" alt="Oferta 3">
                <div class="card-body">
                    <h5 class="card-title">Oferta 3</h5>
                    <hr>
                    <p class="card-text">Descripción de la oferta 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="card-text">Precio: $129.99</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Puedes agregar más ofertas siguiendo el mismo patrón -->

    </div>
</div>