<div class="hero-section background-degradado  text-white text-center d-flex justify-content-center align-items-center vh-100">
    <!-- Imagen del logo -->
    <div>
        <img src="../../../assets/Logo.png" alt="Logo de la Agencia de Viajes" class="img-fluid mb-3" style="max-width: 200px;">
        <h1>Bienvenido a Nuestra Agencia de Viajes</h1>
        <p>Descubre destinos increíbles y vive experiencias inolvidables.</p>
        <a href="destinos.html" [routerLink]="['/catalog']" class="btn btn-light mt-3">Explorar Destinos</a>
    </div>
</div>