<div class="container mt-5">
    <h2 class="text-center mb-4">Descubre Nuevos Destinos</h2>
    <div class="row">

        <!-- Destino 1 -->
        <div class="col-md-4">
            <div class="card destination-card mb-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/LochNessUrquhart.jpg" class="card-img-top" alt="Destino 1">
                <div class="card-body">
                    <h5 class="card-title">Destino 1</h5>
                    <hr>
                    <p class="card-text">Descripción del destino 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>

        <!-- Destino 2 -->
        <div class="col-md-4">
            <div class="card destination-card mb-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/LochNessUrquhart.jpg" class="card-img-top" alt="Destino 2">
                <div class="card-body">
                    <h5 class="card-title">Destino 2</h5>
                    <hr>
                    <p class="card-text">Descripción del destino 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>

        <!-- Destino 3 -->
        <div class="col-md-4">
            <div class="card destination-card mb-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/LochNessUrquhart.jpg" class="card-img-top" alt="Destino 3">
                <div class="card-body">
                    <h5 class="card-title">Destino 3</h5>
                    <hr>
                    <p class="card-text">Descripción del destino 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>

        <!-- Puedes agregar más destinos siguiendo el mismo patrón -->

    </div>
</div>