<!-- Contenido de la página -->



<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Quiénes Somos</h2>
            <p>
                Bienvenido a <strong>WanderLust</strong>, tu compañía de viajes de confianza. Desde 5/10/2023, nos hemos dedicado a crear experiencias inolvidables para los viajeros. Nos apasiona explorar el mundo y queremos compartir esa pasión contigo,
                ofreciéndote destinos excepcionales y viajes a medida.
            </p>
            <p>
                Nuestro equipo está compuesto por profesionales experimentados en el mundo del turismo, comprometidos con tu satisfacción. Cada viaje que organizamos se basa en la confianza, experiencia y la promesa de entregarte recuerdos que durarán toda la vida.
            </p>

            <h3>Misión</h3>
            <p>
                Nuestra misión es facilitar el descubrimiento de nuestro país a través de viajes excepcionales y personalizados. Nos comprometemos a ofrecer a nuestros clientes un servicio incomparable, guiándolos en cada etapa de su viaje con conocimiento experto y
                atención meticulosa. Trabajamos incansablemente para seleccionar destinos fascinantes, alojamientos de alta calidad y actividades enriquecedoras que superen las expectativas. Nos esforzamos por fomentar conexiones genuinas entre las personas
                y los lugares que visitamos, promoviendo un turismo responsable y sostenible que contribuya al bienestar de las comunidades locales y al cuidado del entorno natural. Con pasión y dedicación, nuestra misión es convertir los sueños de viaje
                en realidades memorables.
            </p>

            <h3>Visión</h3>
            <p>
                Ser la agencia de viajes líder a nivel nacional, reconocida por brindar experiencias inolvidables que conecten a las personas con destinos extraordinarios. Nuestra visión es inspirar el espíritu aventurero y enriquecer la vida de nuestros clientes al
                proporcionarles viajes excepcionales, cuidadosamente diseñados para despertar su curiosidad, crear recuerdos duraderos y fomentar un profundo aprecio por la diversidad cultural y natural de nuestro país.
            </p>

        </div>
        <div class="col-md-6">
            <img src="../../../assets/Logo.png" alt="Imagen de un destino turístico" class="img-fluid">
        </div>
    </div>
</div>
<br>